:root {
    --skyexplorer-color: #24265A;
    --buttons-color: #00aaee;
    --pdf-button-color: #6197F0;
    --trash-button-color: #811A1A;
}

.home-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .home-left {
        display: none;
    }
}

