:root {
    --skyexplorer-color: #000055;
    --buttons-color: #0077c8;
}

.home-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .home-left {
        display: none;
    }
}

